__pycache__/
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.env
venv/
*.db
.gemini/
static/uploads/*
!static/uploads/.gitkeep
static/manuals/*
!static/manuals/.gitkeep
static/embassies/*
!static/embassies/.gitkeep
static/users/*
!static/users/.gitkeep
google_credentials.json
credentials.json
token.json
